<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>SeatSight</title>
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/auth">
        <img
          src="./img/seatsight.png"
          alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        SeatSight Admin Panel
      </a>
      <% if(locals.state){ %>
        <a class="btn btn-primary" href="/logout">Logout</a>
        <% } %>

    </div>
  </nav>
</body>

</html>