<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>SeatSight</title>
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/auth">
        <img
          src="https://imgs.search.brave.com/zhUDt2BBB67NtRCmPL_M1pPFPIMv2ykbLiRUXFl-EJ4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZWpvdXJuYWwub3Jn/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDI0/LzEyL0ltYWdlcy1m/b3ItV2ViX1BhZ2Vf/MDQxX0ltYWdlXzAw/MDEuanBn"
          alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        SeatSight
      </a>
      <% if(locals.state){ %>
        <a class="btn btn-primary" href="/logout">Logout</a>
        <% } %>

    </div>
  </nav>
</body>

</html>